/* 
Palette Color
Primary
Principal: #616161
Light: #8e8e8e
Dark: #373737

Secondary 
Principal: #b71c1c
Light: #f05545
Dark: #7f0000

Text #ffffff
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	min-height: 100vh;
	width: 100%;
	margin: auto;
}
/*Preload*/
.hidden {
	overflow: hidden;
}
.center {
	height: 100vh;
	background-color: #494a61;
	display: flex;
	justify-content: center;
	align-items: center;
}
.lds-roller {
	display: inline-block;
	position: relative;
	z-index: 9999 !important;
	width: 80px;
	height: 80px;
}
.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}
.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: white;
	margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*Preload FIN*/
section {
	min-height: 100vh;
	width: 100%;
}
.inicio {
	min-height: 93vh;
	background: linear-gradient(to right, #1e1e1e, #333333);
}
.inicio H3,
p {
	color: white;
}
.inicio H1 {
	font-family: "Ubuntu", sans-serif;
	color: white;
}
.inicio .row {
	min-height: 70vh;
}
.hola {
	min-height: 30vh;
	padding-top: 7vh;
	text-align: center;
}
.hola img {
	height: 30vh;
	min-height: 150px;
	max-height: 250px;
	border-radius: 50%;
}
.hola p {
	font-size: 20px;
	font-family: "Ubuntu", sans-serif;
	font-style: oblique;
}
.hola h1 {
	font-family: "Ubuntu", sans-serif;
	color: #c8aa8c;
}
.sobreMi {
	min-height: 30vh;
	padding-top: 34vh;
}
.sobreMi p {
	font-family: "Ubuntu", sans-serif;
	font-weight: 200;
	margin-right: 10vw;
}
.sobreMi H1 {
	color: #c8aa8c;
}

.row {
	margin-top: 0vh;
	margin-bottom: 0vh;
}
.proyectos {
	padding-top: 8vh;
	height: 100%;
	background-color: white;
	text-align: center;
	padding-bottom: 10vh;
}
.proyectos H1 {
	font-family: "Ubuntu", sans-serif;
}
footer {
	height: 7vh;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0;
	background-color: #c8aa8c;
	z-index: 3 !important;
}
footer a img {
	width: 5vh;
	margin-top: 1vh;
	margin-left: 4vh;
	margin-right: 4vh;
	transition: 0.2s;
	filter: invert(0%) sepia(2%) saturate(5467%) hue-rotate(218deg)
		brightness(94%) contrast(92%);
}
footer a :hover {
	width: 6vh;
	margin-right: 3.5vh;
	margin-left: 3.5vh;
	margin-top: 0;
	transition: 0.2s;
}

.card {
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	margin-top: 2vh;
	background-color: #333;
}
.card :focus-visible {
	transition: 3.9s;
}
.card:hover {
	background-color: rgba(51, 51, 51, 0.8);
	transition: 0.2s;
}
.card p {
	font-family: "Ubuntu", sans-serif;
	color: white;
	margin-bottom: 45px;
}
.card h5 {
	font-family: "Ubuntu", sans-serif;
	color: white;
	font-size: 24px;
}
.card img {
	margin-top: 15px;
	border-radius: 5px;
	width: 100%;
}
.card .btn-primary {
	font-family: "Ubuntu", sans-serif;
	position: absolute;
	bottom: 8px;
	left: 25%;
	background-color: #0d6efd;
	border-color: #0d6efd;
}
.card .btn-secondary {
	position: absolute;
	bottom: 8px;
	right: 25%;
	background-color: #0d6efd;
	border-color: #0d6efd;
}
.card .btn-primary:hover {
	background-color: #333;
	border-color: #333;
}
.card .btn-secondary:hover {
	background-color: #333;
	border-color: #333;
}

/* diseño animacion texto que se escribe */
.palabra {
	font-family: "Ubuntu", sans-serif;
	font-weight: 200;
	background-color: white;
	height: 1.4em;
	padding: 0 14px 0 7px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.palabra:before {
	content: "";
	background-color: #4a4a4a;
	width: 1px;
	position: absolute;
	top: 5px;
	bottom: 5px;
	right: 7px;
	animation: blinkNaim 500ms linear infinite;
}
@keyframes blinkAnim {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

@-webkit-keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}
.slider {
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-bottom: 1px;
}
.slider::before,
.slider::after {
	padding-left: 0;
	margin-left: 0;
	background: linear-gradient(
		to right,
		#1e1e1e 0%,
		rgba(255, 255, 255, 0) 100%
	);
	content: "";
	min-height: 13vh;
	position: absolute;
	width: 25vw;
	z-index: 2;
}
.slider::after {
	position: absolute;
	width: 25vw;
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
	background: linear-gradient(
		to right,
		#333333 0%,
		rgba(255, 255, 255, 0) 100%
	);
}
.slider::before {
	position: absolute;
	width: 25vw;
	left: 0;
	top: 0;
}
.slider .slide-track {
	-webkit-animation: scroll 40s linear infinite;
	animation: scroll 9s linear infinite;
	display: flex;
	width: calc(250px * 14);
}
.slider .slide {
	height: 11vh;
	width: 250px;
}
.slide img {
	height: 11vh;
}
/*flechita animada*/

.arrow,
.arrow:before {
	position: absolute;
	left: 49%;
}
.arrow {
	width: 40px;
	height: 40px;
	-webkit-transform: rotate(45deg);
	border-left: none;
	border-top: none;
	border-right: 2px #fff solid;
	border-bottom: 2px #fff solid;

	position: relative;
}

.arrow:before {
	content: "";
	width: 20px;
	height: 20px;
	top: 50%;
	margin: -10px 0 0 -10px;
	border-left: none;
	border-top: none;
	border-right: 1px #fff solid;
	border-bottom: 1px #fff solid;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: arrow;
}
@keyframes arrow {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(-10px, -10px);
	}
}
.arrorA {
	min-height: 10vh;
	width: 100%;
}

/*efecto scroll*/
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
.fadeTop {
	opacity: 0;
	transform: translate(0, 10vh);
	transition: all 1s;
}
.visible {
	opacity: 1;
	transform: translate(0, 0);
}
.invisible {
	opacity: 0;
}
@media (max-width: 420px) {
	footer a img {
		width: 5vh;
		margin-top: 1vh;
		margin-left: 2vh;
		margin-right: 2vh;
		transition: 0.2s;
		filter: invert(0%) sepia(2%) saturate(5467%) hue-rotate(218deg)
			brightness(94%) contrast(92%);
	}
	footer a :hover {
		width: 6vh;
		margin-right: 0.5vh;
		margin-left: 0.5vh;
		margin-top: 0;
		transition: 0.2s;
	}
	.arrow,
	.arrow:before {
		position: absolute;
		left: 45%;
	}
}
@media (max-width: 767px) {
	.sobreMi {
		padding-top: 3vh;
		text-align: center;
	}
	.sobreMi p {
		margin: 0;
	}
}
.modal-dialog {
	margin-top: 0;
	margin-bottom: 0;
	height: 100vh;
}
.modal-header {
	padding: 2vh;
	border-bottom: 0;
}
.modal-body {
	margin: 0;
	padding: 0;
	min-height: 85vh;
	max-height: 98vh;
}
iframe {
	min-height: 85vh;
	max-height: 90vh;
}
.modal-dialog {
	max-width: 1000px;
}
.modal-content {
	background-color: #c8aa8c;
}
.modal-footer {
	border-top: 0;
	padding: 0;
}
