/* 
Palette Color
Primary
Principal: #616161
Light: #8e8e8e
Dark: #373737

Secondary 
Principal: #b71c1c
Light: #f05545
Dark: #7f0000

Text #ffffff
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	min-height: 100vh;
	width: 100%;
	margin: auto;
}
section {
	min-height: 100vh;
	width: 100%;
}
.inicio {
	min-height: 93vh;
	background-color: #494a61;
}
.inicio H1,
H3,
p {
	color: white;
}
.inicio .row {
	min-height: 65vh;
}
.hola {
	min-height: 40vh;
	padding-top: 7vh;
	height: 65vh;
	text-align: center;
}
.sobreMi {
	min-height: 40vh;
	padding-top: 34vh;
}
.sobreMi p {
	margin-right: 10vw;
}
.habilidades {
	margin-top: 0vh;
	min-height: 10vh;
}
.row {
	margin-top: 0vh;
	margin-bottom: 0vh;
}
.proyectos {
	padding-top: 8vh;
	height: 100%;
	background-color: aliceblue;
	text-align: center;
	padding-bottom: 10vh;
}

footer {
	height: 7vh;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0;
	background-color: rgba(129, 125, 125, 0.3);
}
footer a img {
	width: 5vh;
	margin-top: 1vh;
	margin-left: 0.5vh;
	margin-right: 0.5vh;
}
footer a :hover {
	width: 6vh;
	margin: 0vh;
	transition: 0.2s;
}

.card {
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	margin-top: 2vh;
}
.card p {
	color: black;
	margin-bottom: 45px;
}
.card img {
	margin-top: 15px;
	border-radius: 5px;
	width: 100%;
}
.card .btn-primary {
	position: absolute;
	bottom: 8px;
	left: 25%;
	background-color: #0d6efd;
	border-color: #0d6efd;
}
.card .btn-secondary {
	position: absolute;
	bottom: 8px;
	right: 25%;
	background-color: #0d6efd;
	border-color: #0d6efd;
}
.card .btn-primary:hover {
	background-color: #6c757d;
	border-color: #6c757d;
}
.card .btn-secondary:hover {
	background-color: #6c757d;
	border-color: #6c757d;
}

/* diseño animacion texto que se escribe */
.palabra {
	font-family: "Roboto Mono", monospace;
	background-color: white;
	height: 1.4em;
	padding: 0 14px 0 7px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.palabra:before {
	content: "";
	background-color: #4a4a4a;
	width: 1px;
	position: absolute;
	top: 5px;
	bottom: 5px;
	right: 7px;
	animation: blinkNaim 500ms linear infinite;
}
@keyframes blinkAnim {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

@-webkit-keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}
.slider {
	background: #494a61;
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.slider::before,
.slider::after {
	background: linear-gradient(
		to right,
		#494a61 0%,
		rgba(255, 255, 255, 0) 100%
	);
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
}
.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}
.slider::before {
	left: 0;
	top: 0;
}
.slider .slide-track {
	-webkit-animation: scroll 40s linear infinite;
	animation: scroll 9s linear infinite;
	display: flex;
	width: calc(250px * 14);
}
.slider .slide {
	height: 100px;
	width: 250px;
}
/*flechita animada*/
.arrow,
.arrow:before {
	position: absolute;
	left: 49%;
}
.arrow {
	width: 40px;
	height: 40px;
	-webkit-transform: rotate(45deg);
	border-left: none;
	border-top: none;
	border-right: 2px #fff solid;
	border-bottom: 2px #fff solid;
}

.arrow:before {
	content: "";
	width: 20px;
	height: 20px;
	top: 50%;
	margin: -10px 0 0 -10px;
	border-left: none;
	border-top: none;
	border-right: 1px #fff solid;
	border-bottom: 1px #fff solid;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: arrow;
}
@keyframes arrow {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(-10px, -10px);
	}
}

.blackArrow {
	position: absolute;
	left: 49%;
}
.blackArrow {
	width: 50px;
	height: 50px;
	-webkit-transform: rotate(45deg);
	border-left: none;
	border-top: none;
	border-right: 3px #fff solid;
	border-bottom: 3px #fff solid;
	border-color: black;
}

.postArrow {
	height: 50px;
}
